# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Node.js 관련
node_modules/
*.log
node_modules/

# ESLint 캐시
*.eslintcache

# testing
coverage\

# production
build\

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

# Webpack 캐시
.cache/
*.pack
*.pack.old

# 기타 캐시 파일
*.tmp
*.swp
*.bak
*.old

.DS_Store潮敤浟摯汵獥ਯ
